body{
	margin: 0;
	padding: 0;
	background: transparent;
}

.login{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 450px;
	left: 750px;
	transform: translate(-50%, -50%);
	background: white;
	text-align: center;
	border-radius: 24px;
	transition: 0.25s;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.login hr{
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.login h1{
	color: #46bee5;
	text-transform: uppercase;
	font-weight: 750;
}

.btn{
  background-color: #46bee5;
  color: black;
  padding: 15px 15px;
  border-radius: 10px;
  cursor: pointer;
  width: 40%;
  margin-bottom:10px;
}

.login input[type = "text"], .login input[type = "password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #46bee5;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
}

.login input[type = "text"]:focus, .login input[type = "password"]:focus{
	width: 280px;
	border-color: #3fff45;
}